body {
  font-family: Arial;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  text-align: center;
}
button {
  background: limegreen;
  border: none;
  padding: 1em 2em;
  color: white;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background: green;
}
